<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>Criar Ficha Personagem - D&D 5e</title>
    <link rel="stylesheet" href="criar-ficha-personagem.scss">
</head>
<body>
    <form>
        <!-- CABEÇALHO -->
        <div id="cabeçalho">
            <div class="fotoPersonagem">
                <label for="imagemPersonagem">Foto do Personagem</label><br>
                <input type="file" id="imagemPersonagem" name="imagemPersonagem" (change)="onSelectedFile($event)" accept="image/*"><br><br>
                <div *ngIf="imagemPreview" class="preview-container"><br>
                    <img [src]="imagemPreview" class="preview-imagem"><br>
                    <button type="button" (click)="removerImagem()" class="btn-remover">Remover</button><br><br>
                </div>
            </div>

            <div class="nomeClasse">
                <label for="nomePersonagem">Nome</label><br>
                <input type="text" id="nomePersonagem" name="nomePersonagem" required><br>
                <label>Classe</label><br>
                <select name="classePersonagem">
                    <option value="BARBARO">Bárbaro</option>
                    <option value="BARDO">Bardo</option>
                    <option value="BRUXO">Bruxo</option>
                    <option value="CLERIGO">Clérigo</option>
                    <option value="DRUIDA">Druida</option>
                    <option value="FEITICEIRO">Feiticeiro</option>
                    <option value="GUERREIRO">Guerreiro</option>
                    <option value="LADINO">Ladino</option>
                    <option value="MAGO">Mago</option>
                    <option value="MONGE">Monge</option>
                    <option value="PALADINO">Paladino</option>
                    <option value="PATRULHEIRO">Patrulheiro</option>
                </select><br>
            </div>

            <div class="raçaAntecedente">
                <label for="raçaPersonagem">Raça</label><br>
                <input type="text" id="raçaPersonagem" name="raçaPersonagem" required><br>
                <label for="antecedentePersonagem">Antecedente</label><br>
                <input type="text" id="antecedentePersonagem" name="antecedentePersonagem" required><br>
            </div>

            <div class="escalaNivel">
                <label for="escalaPersonagem">Escala</label><br>
                <input type="text" id="escalaPersonagem" name="escalaPersonagem" required><br>
                <label for="nivelPersonagem">Nível</label><br>
                <input type="number" 
                id="nivelPersonagem" 
                name="nivelPersonagem" 
                required
                min="1"
                max="20"
                [(ngModel)]="nivelPersonagem"]>
                <br>
                <label for="xpPersonagem">XP</label><br>
                <input type="text" id="xpPersonagem" name="xpPersonagem" required><br>
            </div>
        </div>
    <div class="cabeçalhoSuperior">
            <div class="atributos">
                <h1>Atributos</h1>
                <label for="forcaPersonagem">Força</label><br>
                <input type="number" 
                    id="forcaPersonagem" 
                    name="forcaPersonagem" 
                    min="1" 
                    max="30" 
                    [(ngModel)]="forcaPersonagem"
                    required><br>
                <label for="bonusForça">{{ bonusForca }}</label><br>

                <label for="destrezaPersonagem">Destreza</label><br>
                <input type="number" 
                    id="destrezaPersonagem" 
                    name="destrezaPersonagem" 
                    min="1" 
                    max="20" 
                    [(ngModel)]="destrezaPersonagem"
                    required><br>
                <label for="bonusDestreza">{{ bonusDestreza }}</label><br>

                <label for="constituicaoPersonagem">Constituição</label><br>
                <input type="number" 
                    id="constituicaoPersonagem" 
                    name="constituicaoPersonagem" 
                    min="1" 
                    max="20" 
                    [(ngModel)]="constituicaoPersonagem"
                    required><br>
                <label for="bonusConstituicao">{{ bonusConstituicao }}</label><br>

                <label for="inteligenciaPersonagem">Inteligência</label><br>
                <input type="number" 
                    id="inteligenciaPersonagem" 
                    name="inteligenciaPersonagem" 
                    min="1" 
                    max="20" 
                    [(ngModel)]="inteligenciaPersonagem"
                    required><br>
                <label for="bonusInteligencia">{{ bonusInteligencia }}</label><br>

                <label for="sabedoriaPersonagem">Sabedoria</label><br>
                <input type="number" 
                    id="sabedoriaPersonagem" 
                    name="sabedoriaPersonagem" 
                    min="1" 
                    max="20" 
                    [(ngModel)]="sabedoriaPersonagem"
                    required><br>
                <label for="bonusSabedoria">{{ bonusSabedoria }}</label><br>

                <label for="carismaPersonagem">Carisma</label><br>
                <input type="number" 
                    id="carismaPersonagem" 
                    name="carismaPersonagem" 
                    min="1" 
                    max="20" 
                    [(ngModel)]="carismaPersonagem"
                    required><br>
                <label for="bonusCarisma">{{ bonusCarisma }}</label><br>
            </div>
            <div class="bonusProf">
                <label for="profPersonagem" class="profPersonagem">Bônus proficiência</label><br>
                <label for="bonusProficiencia" class="bonusProficiencia"> {{bonusProficiencia}}</label><br>
            </div>
            <div class="testesResistencia">
                <input type="checkbox" 
                id="resistenciaForca" 
                name="resistencia" 
                value="forca"
                [(ngModel)]="resistencias['forca']">
                <label>{{ getTesteResistencia('forca') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaForca">Força</label><br>

                <!-- Destreza -->
                <input type="checkbox" 
                id="resistenciaDestreza" 
                name="resistencia" 
                value="destreza"
                [(ngModel)]="resistencias['destreza']">
                <label>{{ getTesteResistencia('destreza') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaDestreza">Destreza</label><br>

                <!-- Constituição -->
                <input type="checkbox" 
                id="resistenciaConstituicao" 
                name="resistencia" 
                value="constituicao"
                [(ngModel)]="resistencias['constituicao']">
                <label>{{ getTesteResistencia('constituicao') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaConstituicao">Constituição</label><br>

                <!-- Inteligência -->
                <input type="checkbox" 
                id="resistenciaInteligencia" 
                name="resistencia" 
                value="inteligencia"
                [(ngModel)]="resistencias['inteligencia']">
                <label>{{ getTesteResistencia('inteligencia') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaInteligencia">Inteligência</label><br>

                <!-- Sabedoria -->
                <input type="checkbox" 
                id="resistenciaSabedoria" 
                name="resistencia" 
                value="sabedoria"
                [(ngModel)]="resistencias['sabedoria']">
                <label>{{ getTesteResistencia('sabedoria') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaSabedoria">Sabedoria</label><br>

                <!-- Carisma -->
                <input type="checkbox" 
                id="resistenciaCarisma" 
                name="resistencia" 
                value="carisma"
                [(ngModel)]="resistencias['carisma']">
                <label>{{ getTesteResistencia('carisma') }}</label>
                <span style="margin: 0 3px;"></span>
                <label for="resistenciaCarisma">Carisma</label><br>
            </div>
            <div class="CaIniMov">
                <div class="campo">
                    <label for="caPersonagem">Classe de Armadura (CA)</label>
                    <input type="number" id="caPersonagem" name="caPersonagem" value="10" min="1" max="30" step="1" required>
                    <small>10 + modificador de Destreza</small>
                </div>

                <div class="campo">
                    <label for="iniciativaPersonagem">Iniciativa</label>
                    <input type="number" id="iniciativaPersonagem" name="iniciativaPersonagem" value="0" required>
                    <small>modificador de Destreza</small>
                </div>

                <div class="campo">
                    <label for="movimentoPersonagem">Movimentação</label>
                    <input type="text" id="movimentoPersonagem" name="movimentoPersonagem" value="9m" required>
                    <small>definido pela raça</small>
                </div>

                <div class="campo">
                    <label for="vidaPersonagem">Pontos de vida</label>
                    <input type="number" id="vidaPersonagem" name="vidaPersonagem" value="0" required>
                    <small>bônus de CON + dado de vida</small>
                </div>
            </div>
        <div class="pericias">
            <h1>Perícias</h1>
            
            <!-- Acrobacia -->
            <input type="checkbox" 
                id="acrobacia" 
                name="pericia" 
                value="Acrobacia"
                [(ngModel)]="pericias['acrobacia']">
            <label>{{ getValorPericia('acrobacia') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="acrobacia">Acrobacia (DES)</label><br>

            <!-- Adestrar Animais -->
            <input type="checkbox" 
                id="adestrarAnimais" 
                name="pericia" 
                value="AdestrarAnimais"
                [(ngModel)]="pericias['adestrarAnimais']">
            <label>{{ getValorPericia('adestrarAnimais') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="adestrarAnimais">Adestrar animais (SAB)</label><br>

            <!-- Arcanismo -->
            <input type="checkbox" 
                id="arcanismo" 
                name="pericia" 
                value="Arcanismo"
                [(ngModel)]="pericias['arcanismo']">
            <label>{{ getValorPericia('arcanismo') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="arcanismo">Arcanismo (INT)</label><br>

            <!-- Atletismo -->
            <input type="checkbox" 
                id="atletismo" 
                name="pericia" 
                value="Atletismo"
                [(ngModel)]="pericias['atletismo']">
            <label>{{ getValorPericia('atletismo') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="atletismo">Atletismo (FOR)</label><br>

            <!-- Enganação -->
            <input type="checkbox" 
                id="enganacao" 
                name="pericia" 
                value="Enganacao"
                [(ngModel)]="pericias['enganacao']">
            <label>{{ getValorPericia('enganacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="enganacao">Enganação (CAR)</label><br>

            <!-- História -->
            <input type="checkbox" 
                id="historia" 
                name="pericia" 
                value="Historia"
                [(ngModel)]="pericias['historia']">
            <label>{{ getValorPericia('historia') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="historia">História (INT)</label><br>

            <!-- Intuição -->
            <input type="checkbox" 
                id="intuicao" 
                name="pericia" 
                value="Intuicao"
                [(ngModel)]="pericias['intuicao']">
            <label>{{ getValorPericia('intuicao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="intuicao">Intuição (SAB)</label><br>

            <!-- Intimidação -->
            <input type="checkbox" 
                id="intimidacao" 
                name="pericia" 
                value="Intimidacao"
                [(ngModel)]="pericias['intimidacao']">
            <label>{{ getValorPericia('intimidacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="intimidacao">Intimidação (CAR)</label><br>

            <!-- Investigação -->
            <input type="checkbox" 
                id="investigacao" 
                name="pericia" 
                value="Investigacao"
                [(ngModel)]="pericias['investigacao']">
            <label>{{ getValorPericia('investigacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="investigacao">Investigação (INT)</label><br>

            <!-- Medicina -->
            <input type="checkbox" 
                id="medicina" 
                name="pericia" 
                value="Medicina"
                [(ngModel)]="pericias['medicina']">
            <label>{{ getValorPericia('medicina') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="medicina">Medicina (SAB)</label><br>

            <!-- Natureza -->
            <input type="checkbox" 
                id="natureza" 
                name="pericia" 
                value="Natureza"
                [(ngModel)]="pericias['natureza']">
            <label>{{ getValorPericia('natureza') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="natureza">Natureza (INT)</label><br>

            <!-- Percepção -->
            <input type="checkbox" 
                id="percepcao" 
                name="pericia" 
                value="Percepcao"
                [(ngModel)]="pericias['percepcao']">
            <label>{{ getValorPericia('percepcao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="percepcao">Percepção (SAB)</label><br>

            <!-- Atuação -->
            <input type="checkbox" 
                id="atuacao" 
                name="pericia" 
                value="Atuacao"
                [(ngModel)]="pericias['atuacao']">
            <label>{{ getValorPericia('atuacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="atuacao">Atuação (CAR)</label><br>

            <!-- Persuasão -->
            <input type="checkbox" 
                id="persuacao" 
                name="pericia" 
                value="Persuacao"
                [(ngModel)]="pericias['persuacao']">
            <label>{{ getValorPericia('persuacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="persuacao">Persuasão (CAR)</label><br>
            
            <!-- Religião -->
            <input type="checkbox" 
                id="religiao" 
                name="pericia" 
                value="Religiao"
                [(ngModel)]="pericias['religiao']">
            <label>{{ getValorPericia('religiao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="religiao">Religião (INT)</label><br>

            <!-- Prestidigitação -->
            <input type="checkbox" 
                id="prestidigitacao" 
                name="pericia" 
                value="Prestidigitacao"
                [(ngModel)]="pericias['prestidigitacao']">
            <label>{{ getValorPericia('prestidigitacao') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="prestidigitacao">Prestidigitação (DES)</label><br>

            <!-- Furtividade -->
            <input type="checkbox" 
                id="furtividade" 
                name="pericia" 
                value="Furtividade"
                [(ngModel)]="pericias['furtividade']">
            <label>{{ getValorPericia('furtividade') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="furtividade">Furtividade (DES)</label><br>

            <!-- Sobrevivência -->
            <input type="checkbox" 
                id="sobrevivencia" 
                name="pericia" 
                value="Sobrevivencia"
                [(ngModel)]="pericias['sobrevivencia']">
            <label>{{ getValorPericia('sobrevivencia') }}</label>
            <span style="margin: 0 3px;"></span>
            <label for="sobrevivencia">Sobrevivência (SAB)</label><br>
        </div>
        </div>
        <br>
        <!-- PROFICIÊNCIAS -->
      <div class="proficiencias">
    <!-- Tabela de Proficiências -->
        <table class="tabelaProficiencia">
            <thead>
                <tr>
                    <th>Tipo</th>
                    <th>Proficiência</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let proficiencia of proficiencias; let i = index">
                    <td>{{ proficiencia.tipo }}</td>
                    <td>{{ proficiencia.lista }}</td>
                    <td>
                    </td>
                </tr>
            </tbody>
        </table>

        <br>

            <button (click)="toggleSecao('proficiencia')">Nova proficiência</button>
            <br>
                <div class="addProficiencia" [hidden]="!visivel['proficiencia']">
                    <label>Tipo proficiência</label><br>
                    <select name="tipoProfPersonagem"
                    id = "tipoProfPersonagem"
                    name="tipoProfPersonagem"
                    [(ngModel)]="novaProficiencia.tipoProfPersonagem"
                    required="">
                        <option value="ARMA">Arma</option>
                        <option value="ARMADURA">Armadura</option>
                        <option value="IDIOMAS">Idiomas</option>
                        <option value="OUTROS">Outros</option>
                    </select><br>
                    <label for="listaProficiencias">Proficiências</label><br>
                    <input type="text" 
                    id="listaProficiencias" 
                    name="listaProficiencias" 
                    [(ngModel)]="novaProficiencia.listaProficiencias"
                    required><br><br>
                    <button (click)="adicionarProficiencia()">Adicionar Proficiência</button>
                </div>
            </div>
        <!-- INVENTÁRIO -->
        <h1>Inventário</h1>
        <div class="inventario">
            <table class="mochilaPersonagem">
                <thead>
                    <th>Nome item</th>
                    <th>Peso item</th>
                    <th>Quantidade</th>
                    <th>Peso Total</th>
                </thead>
                <tbody>
            <tr *ngFor="let item of inventario; let i = index">
                <td><strong>{{ item.nome }}</strong></td>
                <td>{{ item.peso }}</td>
                <td>{{ item.quantidade }}</td>
                <td>{{ item.quantidade * item.peso}}</td>
            </tr>
            </tbody>
            </table>
            <br>
            <button (click)="toggleSecao('item')">Novo item</button>

<div class="addItem" [hidden]="!visivel['item']">
    <label for="nomeItem">Nome item</label><br>
    <input type="text" 
           id="nomeItem" 
           name="nomeItem" 
           [(ngModel)]="novoItem.nomeItem"
           required><br>
    
    <label for="raridadeItem">Raridade item</label><br>
    <select 
        name="raridadeItem" 
        id="raridadeItem"
        [(ngModel)]="novoItem.raridadeItem"
        required>
        <option value="" disabled selected>Selecione a raridade...</option>
        <option value="COMUM">Comum</option>
        <option value="INCOMUM">Incomum</option>
        <option value="RARO">Raro</option>
        <option value="MUITO_RARO">Muito raro</option>
        <option value="LENDARIO">Lendário</option>
        <option value="ARTEFATO">Artefato</option>
    </select><br>
    
    <label for="quantidadeItem">Quantidade item</label><br>
    <input type="number" 
           id="quantidadeItem" 
           name="quantidadeItem" 
           [(ngModel)]="novoItem.quantidadeItem"
           min="1"
           placeholder="1"
           required><br>
    
    <label for="pesoItem">Peso item</label><br>
    <input type="number" 
           id="pesoItem" 
           name="pesoItem" 
           [(ngModel)]="novoItem.pesoItem"
           min="0"
           placeholder="0"
           step="0.1"
           required><br>
    
    <label for="tipoItem">Tipo item</label><br>
    <input type="text" 
           id="tipoItem" 
           name="tipoItem" 
           [(ngModel)]="novoItem.tipoItem"
           placeholder="Ex: Arma, Armadura, Poção"><br>
    
    <label for="descricaoItem">Descrição item</label><br>
    <textarea 
        id="descricaoItem" 
        name="descricaoItem" 
        rows="3"
        [(ngModel)]="novoItem.descricaoItem"
        placeholder="Descreva o item..."></textarea><br>
    
    <button (click)="adicionarItem()" class="btn-adicionar">Adicionar Item</button>
</div>
            <div class="resumo-inventario" *ngIf="inventario.length > 0">
                <p><strong>Total de Itens:</strong> {{ quantidadeTotal }}</p>
                <p><strong>Peso Total:</strong> {{ pesoTotal }} kg</p>
            </div>
            <div class="moedas">
                <label>Bolsa de moedas</label><br>
                <div class="moedas-container">
                    <div class="moeda-item">
                        <label for="moedaPC">PC (Platina)</label><br>
                        <input type="number" id="moedaPC" name="moedaPC" value="0" min="0"><br>
                    </div>
                    <div class="moeda-item">
                        <label for="moedaPO">PO (Ouro)</label><br>
                        <input type="number" id="moedaPO" name="moedaPO" value="0" min="0"><br>
                    </div>
                    <div class="moeda-item">
                        <label for="moedaPE">PP (Prata)</label><br>
                        <input type="number" id="moedaPE" name="moedaPE" value="0" min="0"><br>
                    </div>
                    <div class="moeda-item">
                        <label for="moedaPCobre">PC (Cobre)</label><br>
                        <input type="number" id="moedaPCobre" name="moedaPCobre" value="0" min="0"><br>
                        </div>
                    </div>
                </div>
            </div>

        <!-- HABILIDADES -->
        <h1>Habilidades personagem</h1>
        <div class="listaHabilidades" *ngIf="habilidades.length">
            <div *ngFor="let habilidade of habilidades; let i = index" class="habilidade-item">
                <h3>Nome:{{ habilidade.nome }}</h3>
                <p><strong>Origem:</strong> {{ habilidade.origem }}</p>
                <p><strong>Descrição:</strong> {{ habilidade.descricao }}</p>
            <hr>
            </div>
            </div>
            <button (click)="toggleSecao('habilidade')">Nova Habilidade</button>
            <div class="addHabildiade" [hidden]="!visivel['habilidade']">

            <div class="habilidades">
                <label for="nomeHabilidade">Nome Habilidade</label><br>
                <input type="text" 
                id="nomeHabilidade" 
                name="nomeHabilidade" 
                [(ngModel)]="novaHabilidade.nome"
                required><br>
                <label for="origemHabilidade">Origem Habilidade</label><br>
                <input type="text" 
                id="origemHabilidade" 
                name="origemHabilidade" 
                [(ngModel)]="novaHabilidade.origem"
                required><br>
                <label for="descricaoHabilidade">Descrição Habilidade</label><br>
                <textarea 
                id="descricaoHabilidade" 
                name="descricaoHabilidade" rows="4" cols="50"
                [(ngModel)]="novaHabilidade.descricao"
                required
                ></textarea><br>
                <button (click)="adicionarHabilidade()">Adicionar Habilidade</button>
            </div>
        </div>
        <!-- GRIMÓRIO -->
        <h1>Grimório</h1>
        <div class="blocoGrimorio">
            <div class="detalhesConjuracao">
                <h3>CD Magia</h3>
                <h3>Bônus ataque mágico</h3>
                <h3>Atributo-chave</h3>
            </div>
            <div class="grimorioPersonagem">
        <div class="listaMagiasSeção1">
        <!-- Truques -->
        <h3>Truques</h3>
        <div class="nomeMagiaMenu">
        <div *ngFor="let magia of getMagiasPorNivel(0)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 1 -->
        <h3>Nível 1</h3>
        <div class="nomeMagiaMenu">
            <div *ngFor="let magia of getMagiasPorNivel(1)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>
        <!-- Nível 2 -->
        <h3>Nível 2</h3>
        <div class="nomeMagia">
        <div *ngFor="let magia of getMagiasPorNivel(2)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 3 -->
        <h3>Nível 3</h3>
        <div class="nomeMagia">
            <div *ngFor="let magia of getMagiasPorNivel(3)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>
    </div>

    <!-- Seção 2: Níveis 4, 5, 6 -->
    <div class="listaMagiasSeção2">
        <!-- Nível 4 -->
        <h3>Nível 4</h3>
        <div class="nomeMagia">
             <div *ngFor="let magia of getMagiasPorNivel(4)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 5 -->
        <h3>Nível 5</h3>
        <div class="nomeMagia">
               <div *ngFor="let magia of getMagiasPorNivel(5)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 6 -->
        <h3>Nível 6</h3>
        <div class="nomeMagia">
   <div *ngFor="let magia of getMagiasPorNivel(6)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>
    </div>

    <!-- Seção 3: Níveis 7, 8, 9 -->
    <div class="listaMagiasSeção3">
        <!-- Nível 7 -->
        <h3>Nível 7</h3>
        <div class="nomeMagia">
   <div *ngFor="let magia of getMagiasPorNivel(7)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 8 -->
        <h3>Nível 8</h3>
        <div class="nomeMagia">
   <div *ngFor="let magia of getMagiasPorNivel(8)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>

        <!-- Nível 9 -->
        <h3>Nível 9</h3>
        <div class="nomeMagia">
   <div *ngFor="let magia of getMagiasPorNivel(9)" class="magia-container">
                <!-- Nome da magia (clicável) -->
                <div class="nomeMagia" (click)="selecionarMagia(magia)">
                    <h4>{{ magia.nome }}</h4>
                </div>
        <div class="quadrinhoMagiaExpandido" *ngIf="isMagiaSelecionada(magia)">
            <h4><strong>Nível:</strong> {{ magia.nivelDisplay }}</h4>
            <h4><strong>Tempo conjuração:</strong> {{ magia.tempoConjuracao }}</h4>
            <h4><strong>Área/Alcance:</strong> {{ magia.area }}</h4>
            <h4><strong>Componentes:</strong> {{ magia.componentes }}</h4>
            <h4><strong>Duração:</strong> {{ magia.duracao }}</h4>
            <h4><strong>Ritual:</strong> {{ magia.ritual ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Concentração:</strong> {{ magia.concentracao ? 'Sim' : 'Não' }}</h4>
            <h4><strong>Escola:</strong> {{ magia.escola }}</h4>
            <h4><strong>Descrição:</strong> {{ magia.descricao }}</h4>
            <h4><strong>Classes que podem usar:</strong> {{ magia.classes || 'Qualquer' }}</h4>
            </div>
        </div>
            <button (click)="toggleSecao('habilidade')" class="btn-nova-magia">Nova Magia</button>
        </div>
    </div>
            <div class="adicionarMagia" [hidden]="!visivel['habilidade']">
                <h2>Adicionar Magia</h2>
                
                <label for="nomeMagia">Nome magia</label><br>
                <input type="text" 
                    id="nomeMagia" 
                    name="nomeMagia" 
                    [(ngModel)]="novaMagia.nomeMagia"
                    required><br>
                
                <label for="nivelMagia">Nível magia</label><br>
                <input type="text" 
                    id="nivelMagia" 
                    name="nivelMagia" 
                    [(ngModel)]="novaMagia.nivelMagia"
                    min = "0"
                    max = "9"
                    placeholder="0 = Truque, 1-9 = Nível"
                    required><br>
                
                <label for="tempoConjuracaoMagia">Tempo conjuração</label><br>
                <input type="text" 
                    id="tempoConjuracaoMagia" 
                    name="tempoConjuracaoMagia" 
                    [(ngModel)]="novaMagia.tempoConjuracaoMagia"
                    placeholder="Ex: 1 ação, 1 minuto, 1 hora"
                    required><br>
                
                <label for="areaMagia">Área/Alcance</label><br>
                <input type="text" 
                    id="areaMagia" 
                    name="areaMagia" 
                    [(ngModel)]="novaMagia.areaMagia"
                    placeholder="Ex: Próprio, Toque, 30 pés"
                    required><br>
                
                <label>Componentes</label><br>
                <input type="checkbox" 
                    name="componentesMagia" 
                    value="V"
                    [(ngModel)]="novaMagia.componentesMagia.V"> V
                <input type="checkbox" 
                    name="componentesMagia" 
                    value="S"
                    [(ngModel)]="novaMagia.componentesMagia.S"> S
                <input type="checkbox" 
                    name="componentesMagia" 
                    value="M"
                    [(ngModel)]="novaMagia.componentesMagia.M"> M
                <input type="text" 
                    id="componentesMaterial" 
                    name="componentesMaterial" 
                    [(ngModel)]="novaMagia.componentesMaterial"
                    placeholder="Material (se houver)"><br>
                
                <input type="checkbox" 
                    id="ritualMagia" 
                    name="ritualMagia"
                    [(ngModel)]="novaMagia.ritualMagia"> Ritual<br>
                
                <input type="checkbox" 
                    id="concentracaoMagia" 
                    name="concentracaoMagia"
                    [(ngModel)]="novaMagia.concentracaoMagia"> Concentração<br>
                
                <label for="duracaoMagia">Duração</label><br>
                <input type="text" 
                    id="duracaoMagia" 
                    name="duracaoMagia" 
                    [(ngModel)]="novaMagia.duracaoMagia"
                    placeholder="Ex: Instantânea, 1 minuto, 1 hora"
                    required><br>

                <label for="escolaMagia">Escola magia</label><br>
                <select 
                    name="escolaMagia" 
                    id="escolaMagia"
                    [(ngModel)]="novaMagia.escolaMagia"
                    required>
                    <option value="" disabled selected>Selecione a escola de magia...</option>
                    <option value="ABJURACAO">Abjuração</option>
                    <option value="ADIVINHACAO">Adivinhação</option>
                    <option value="CONJURACAO">Conjuração</option>
                    <option value="ENCANTACAO">Encantação</option>
                    <option value="EVOCACAO">Evocação</option>
                    <option value="ILUSAO">Ilusão</option>
                    <option value="NECROMANCIA">Necromancia</option>
                    <option value="TRANSMUTACAO">Transmutação</option>
                </select><br>
                
                <label for="descricaoMagia">Descrição da magia</label><br>
                <textarea id="descricaoMagia" 
                        name="descricaoMagia" 
                        rows="4" 
                        cols="50"
                        [(ngModel)]="novaMagia.descricaoMagia"></textarea><br>
                
                <button (click)="adicionarMagia()" class="btn-adicionar">Adicionar Magia</button>
            </div>
            </div>
        </div>
        <!-- ANOTAÇÕES & EXTRAS -->
        <div class="extras">
            <h1>Anotações & Extras</h1>
        </div>
        <div class="anotacoes">
        <div class="dadosPessoaisPersonagem">
            <div class="idadeContainer">
                <label for="idadePersonagem">Idade</label>
                <input type="text" id="idadePersonagem" name="idadePersonagem">
            </div>
            
            <div class="alturaContainer">
                <label for="alturaPersonagem">Altura</label>
                <input type="text" id="alturaPersonagem" name="alturaPersonagem">
            </div>
            
            <div class="pesoContainer">
                <label for="pesoPersonagem">Peso</label>
                <input type="text" id="pesoPersonagem" name="pesoPersonagem">
            </div>
            
            <div class="tamanhoContainer">
                <label for="tamanhoPersonagem">Tamanho</label>
                <input type="text" id="tamanhoPersonagem" name="tamanhoPersonagem">
            </div>
            
            <div class="generoContainer">
                <label for="generoPersonagem">Gênero</label>
                <input type="text" id="generoPersonagem" name="generoPersonagem">
            </div>
            
            <div class="alinhamentoContainer">
                <label for="alinhamentoPersonagem">Alinhamento</label>
                <input type="text" id="alinhamentoPersonagem" name="alinhamentoPersonagem">
            </div>
        </div>
            <div class="anotacoesInferior">
                <div class="historiaContainer">
                        <label for="historiaPersonagem">História do personagem</label>
                        <textarea id="historiaPersonagem" name="historiaPersonagem" rows="4" cols="50"></textarea>
                    </div>
                    
                    <div class="aparenciaContainer">
                        <label for="aparenciaPersonagem">Aparência do personagem</label><br>
                        <textarea id="aparenciaPersonagem" name="aparenciaPersonagem" rows="4" cols="50"></textarea>
                    </div>
                    
                    <div class="personalidadeContainer">
                        <label for="personalidadePersonagem">Traços de personalidade</label><br>
                        <textarea id="personalidadePersonagem" name="personalidadePersonagem" rows="4" cols="50"></textarea>
                    </div>
                    
                    <div class="ideaisContainer">
                        <label for="ideaisPersonagem">Ideais</label><br>
                        <textarea id="ideaisPersonagem" name="ideaisPersonagem" rows="4" cols="50"></textarea>
                    </div>
                    
                    <div class="defeitosContainer">
                        <label for="defeitosPersonagem">Defeitos</label><br>
                        <textarea id="defeitosPersonagem" name="defeitosPersonagem" rows="4" cols="50"></textarea>
                    </div>
                    
                    <div class="anotacoesContainer">
                        <label for="anotacoesPersonagem">Anotações</label><br>
                        <textarea id="anotacoesPersonagem" name="anotacoesPersonagem" rows="4" cols="50"></textarea>
                    </div>      
                </div>
            </div>
    </form>
</body>
</html>